<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title><%= book.title %></title>
  </head>
  <body>
    <h1><%= book.title %></h1>
    <h3>作者: <%= book.author %></h3>
    <pre><%= book.content %></pre>
    <a href="/">⬅ 回到首頁</a>
  </body>
</html>
